{% extends "base.html" %}

{% block title %}LocateIQ | Services{% endblock %}

{% block content %}
<section class="page-2">
    <div class="page-2-content">
        <h1>Services</h1>
        <p>Our platform provides a suite of services that designed to give you complete control and insight over your assets. From real-time tracking to in-depth analytics, we've got you covered.</p>
        <div class="features-grid">
            <div class="feature-card">
                <div class="icon">📍</div>
                <h3>Smart Location Analysis</h3>
                <p>AI-powered algorithms analyze multiple factors to find optimal warehouse locations</p>
            </div>
            <div class="feature-card">
                <div class="icon">⚡</div>
                <h3>Live Delivery Simulation</h3>
                <p>Simulate delivery routes in real-time to test different scenarios and identify efficient logistics strategies.</p>
            </div>
            <div class="feature-card"> 
                <div class="icon">📊</div>
                <h3>Interactive Dashboard & Prediction</h3>
                <p>Visualize key metrics and predict demand with an interactive dashboard for proactive decision-making.</p>
            </div> 
            <div class="feature-card"> 
                <div class="icon">💻</div>
                <h3>Anomaly Detection with AI</h3>
                <p>Leverage AI to detect anomalies in supply chain such as unexpected delays or cost overruns.</p>
            </div> 
            <div class="feature-card"> 
                <div class="icon">🚛</div> 
                <h3>Logistics Integration</h3> 
                <p>Seamlessly integrate with existing supply chain and transportation networks</p> 
            </div> 
        </div> 
    </div> 
</section>
{% endblock %}